<div class="col-md-3 menu">
  <ul class="list-group">
    <li class="list-group-item"><a href="#"><%= t("categories.laptop")%></a></li>
    <li class="list-group-item"><a href="#"><%= t("categories.tablet")%></a></li>
    <li class="list-group-item"><a href="#"><%= t("categories.phone")%></a></li>
    <li class="list-group-item"><a href="#"><%= t("categories.pc")%></a></li>
  </ul>
</div>
