<div class="product-rating">
  <% rating = @product ? @product.comments.average(:rating).to_f.round(2) : 0 %>
  <% 5.times do |i| %>
    <% if rating >= i + 1 %>
      <i class="bi bi-star-fill" style="color: yellow;"></i>
    <% else %>
      <i class="bi bi-star" style="color: yellow;"></i>
    <% end %>
  <% end %>
  <span>(<%= rating %>)</span>
</div>
