@import 'bootstrap-sprockets';
@import 'bootstrap';

#error_explanation {
  color: red
}

.sign-up-title {
  font-weight: bold;
  font-size: 35px;
}

.new_account {
  display: flex;
  flex-direction: column;

  input {
    margin: 10px 0px 10px 0px;
    height: 45px;
    padding-left: 20px;
    padding-bottom: 5px;
  }

  .form-btn-back {
    color: white;
    background-color: #f4291a;
    font-weight: bold;
    border: #f4291a solid 2px;
    padding: 10px 50px 10px 50px;
  }

  .form-btn-submit {
    border: 4px #f4291a solid;
    padding: 0px 50px 0px 50px;
    background-color: #fff;
    font-weight: bold;

  }
}


.form-btn-back:hover {
  transition: ease .5s;
  background-color: #fff;
  color: black;
}

.form-btn-submit:hover {
  transition: ease .5s;
  background-color: #f4291a;
  color: #fff;
}

.forget_password_link {
  margin-right: 30px;
}

.btn-redirect {
  padding: 10px 20px 10px 20px;
  background-color: #fff;
  color: #000;
  border: 3px solid #f4291a;
  text-decoration: none !important;
  font-weight: bold;

}

.btn-redirect:hover {
  transition: ease .5s;
  background-color: #f4291a;
  color: #fff;
}
