<div class="owl-carousel">
  <div class="item"><%= image_tag(ENV["SLIDER_IMAGE"]) %></div>
  <div class="slide-content">
      <%= link_to t("slider.button"), "#", class: "btn btn-primary" %>
    </div>
</div>
